# Ignore the files inside main folder/thesis/files
unipd-clean-thesis-template/thesis/files/.DS_Store
unipd-clean-thesis-template/thesis/files/.xmpi
unipd-clean-thesis-template/thesis/files/.acn
unipd-clean-thesis-template/thesis/files/.aux
unipd-clean-thesis-template/thesis/files/.bbl
unipd-clean-thesis-template/thesis/files/.bcf
unipd-clean-thesis-template/thesis/files/.blg
unipd-clean-thesis-template/thesis/files/.fdb_latexmk
unipd-clean-thesis-template/thesis/files/.fls
unipd-clean-thesis-template/thesis/files/.glo
unipd-clean-thesis-template/thesis/files/.glsdefs
unipd-clean-thesis-template/thesis/files/.ist
unipd-clean-thesis-template/thesis/files/.lof
unipd-clean-thesis-template/thesis/files/.log
unipd-clean-thesis-template/thesis/files/.lot
unipd-clean-thesis-template/thesis/files/.pdf
unipd-clean-thesis-template/thesis/files/.run.xml
unipd-clean-thesis-template/thesis/files/.synctex.gz
unipd-clean-thesis-template/thesis/files/.toc